@charset "UTF-8";
/* Сейчас мы приведём страницу браузера в "чистый вид".
Это необходим, чтобы настройки различных браузеров не
подстраивали каждый по своему "умолчанию",
а везде было одинаково - кросс-платформа */
/* Тэг "*" означает, что мы обращаемся ко всем тэгам страницы */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Кратко: Меняет ширину блока так,чтобы нам было удобнее верстать */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Убираем линии обводки */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Перечисляем HTML5 тэги. Добавляем значение "Блок", что делает их блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* Обратимся к тегам HTML и Body. Выставим в них значения
которые уравняют их в различных браузерах. И запрещают увеличение шрифта */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Обращаемся к следующим тэгам, чтобы они унаследовали семейство шрифта.
Так как по умолчанию они его не наследуют */
input,
button,
textarea {
  font-family: inherit;
}

/* Следующие настройки убирают, некоторые особенности, браузеров 
(типа крестик, отступы, стили */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* Обнуляем все заголовки Н */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Все стили обнулились. У нас "чистый лист", теперь мы сами творцы своего стиля */
/* ______________________________________________________________________________ */
.kub1 .kub5, .kub1 .kub4, .kub1 .kub3, .kub1 .kub2 {
  width: 200px;
  height: 200px;
  color: #000;
  border: 1px solid #000;
  float: left;
}

.kub10, .kub9, .kub8 {
  width: 230px;
  height: 230px;
  position: absolute;
  background-color: blue;
  top: 370px;
  z-index: 1;
}

.kub11 .puzzle5, .kub11 .puzzle4, .kub11 .puzzle3, .kub11 .puzzle2, .kub11 .puzzle1 {
  width: 200px;
  height: 300px;
  position: absolute;
  z-index: 2;
  margin: 18px;
}
.kub11 .puzzle5 .link, .kub11 .puzzle4 .link, .kub11 .puzzle3 .link, .kub11 .puzzle2 .link, .kub11 .puzzle1 .link {
  height: 76px;
  width: 196px;
  display: inline-block;
  text-align: center;
  padding: 25px 0;
  font-size: 24px;
  background-color: #830b0b;
  color: #fff;
  text-decoration: underline;
}
.kub11 .puzzle5 .link:hover, .kub11 .puzzle4 .link:hover, .kub11 .puzzle3 .link:hover, .kub11 .puzzle2 .link:hover, .kub11 .puzzle1 .link:hover {
  background-color: yellow;
  color: blue;
}
.kub11 .puzzle5 .img, .kub11 .puzzle4 .img, .kub11 .puzzle3 .img, .kub11 .puzzle2 .img, .kub11 .puzzle1 .img {
  display: block;
  margin: 35px 25px;
  height: 150px;
}
.kub11 .puzzle5:hover, .kub11 .puzzle4:hover, .kub11 .puzzle3:hover, .kub11 .puzzle2:hover, .kub11 .puzzle1:hover {
  border: 2px solid #000;
}

.kub1 {
  width: 400px;
  height: 400px;
  outline: 4px solid #000;
  position: relative;
  z-index: 2;
  top: 40px;
  left: 60px;
  box-shadow: 2px 6px 5px;
}
.kub1 .kub2 {
  background-color: chartreuse;
}
.kub1 .kub3 {
  background-color: white;
}
.kub1 .kub4 {
  background-color: black;
}
.kub1 .kub5 {
  background-color: brown;
}

.kub6 {
  width: 650px;
  height: 400px;
  background-color: grey;
  padding: 25px;
  position: fixed;
  left: 485px;
  top: 55px;
  outline: 4px solid #000;
  box-shadow: 2px 6px 5px;
  z-index: 3;
}
.kub6 .kub7 {
  width: 600px;
  height: 350px;
  background-color: red;
  z-index: 4;
}

.kub8 {
  left: 370px;
}

.kub9 {
  left: 620px;
  z-index: 5;
}

.kub10 {
  left: 870px;
}

.kub11 {
  max-width: 1115px;
  height: 350px;
  background-color: #e5e2e2;
  position: relative;
  margin: 0px auto;
  top: 300px;
  border: 5px solid black;
}
.kub11 .puzzle1 {
  left: -2px;
}
.kub11 .puzzle2 {
  left: 220px;
}
.kub11 .puzzle3 {
  left: 436px;
}
.kub11 .puzzle4 {
  left: 654px;
}
.kub11 .puzzle5 {
  left: 870px;
}