@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueCyr-Italic.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../../fonts/HelveticaNeueCyr-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/* Сейчас мы приведём страницу браузера в "чистый вид".
Это необходим, чтобы настройки различных браузеров не
подстраивали каждый по своему "умолчанию",
а везде было одинаково - кросс-платформа */
/* Тэг "*" означает, что мы обращаемся ко всем тэгам страницы */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Кратко: Меняет ширину блока так,чтобы нам было удобнее верстать */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Убираем линии обводки */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Перечисляем HTML5 тэги. Добавляем значение "Блок", что делает их блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* Обратимся к тегам HTML и Body. Выставим в них значения
которые уравняют их в различных браузерах. И запрещают увеличение шрифта */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Обращаемся к следующим тэгам, чтобы они унаследовали семейство шрифта.
Так как по умолчанию они его не наследуют */
input,
button,
textarea {
  font-family: inherit;
}

/* Следующие настройки убирают, некоторые особенности, браузеров 
(типа крестик, отступы, стили */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* Обнуляем все заголовки Н */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Все стили обнулились. У нас "чистый лист", теперь мы сами творцы своего стиля */
/* ______________________________________________________________________________ */
.text {
  font-family: "Helvetica Neue";
  font-size: 30px;
  line-height: 35px;
}
.text p {
  margin: 0px 0px 30px 0px;
}

.textbold {
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
.textbold p {
  margin: 0px 0px 30px 0px;
}

.textbold2 {
  font-size: 30px;
  line-height: 35px;
}
.textbold2 p {
  margin: 0px 0px 30px 0px;
}