div {
}
/* чтобы страница сайта понимала к какому классу стилей 
относится запись на странице css файла. Слдует записывать или сам тэг+фигурные
скобки или давать тэгу class и записывать название класса в css,
 с точкой впереди названия класса. Пример .bigred */
.bigred {
  font-size: 20px;
  color: red;
}

/* Можно установить особые параметры цвета и формы к части 
уже подверженному изменению Цсс сегмента. К примеру: */
span.bigred {
  font-size: 30px;
  color: rgb(235, 144, 8);
}

/* Внутри класса бигред отпределённый тег (без собственного класса) приобретает свойства.
При этом другие такие же теги, вне класса, неподвержены изменению */
.bigred span {
  font-size: 30px;
  color: green;
}

/* выберет только тот элемент "p", который является прямым потомком тега с классом "block" */
.block > p {
  color: blue;
}
