/* Сейчас мы приведём страницу браузера в "чистый вид".
Это необходим, чтобы настройки различных браузеров не
подстраивали каждый по своему "умолчанию",
а везде было одинаково - кросс-платформа */

/* Тэг "*" означает, что мы обращаемся ко всем тэгам страницы */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Кратко: Меняет ширину блока так,чтобы нам было удобнее верстать */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем линии обводки */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/* Перечисляем HTML5 тэги. Добавляем значение "Блок", что делает их блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* Обратимся к тегам HTML и Body. Выставим в них значения
которые уравняют их в различных браузерах. И запрещают увеличение шрифта */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Обращаемся к следующим тэгам, чтобы они унаследовали семейство шрифта.
Так как по умолчанию они его не наследуют */
input,
button,
textarea {
  font-family: inherit;
}

/* Следующие настройки убирают, некоторые особенности, браузеров 
(типа крестик, отступы, стили */
input ::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/* Обнуляем все заголовки Н */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Все стили обнулились. У нас "чистый лист", теперь мы сами творцы своего стиля */
/* _____________________________________________________________________________ */

/* внуттренний отствуп блочныхтегов: с верху, справа, с низу, с лева */
/* padding: 10px 20px 30px 5px; */
/* padding: 10px 20px 30px;  Отступы в этом случае будут: с верху, с лева и справа, снизу*/
/* padding: 10px 20px;  Отступы в этом случае будут: с верху и снизу, с лева и справа */
/* padding: 10px;  Если число одно, значит данный отступ будет применяться ко всем сторонам */

/* внешний отступ блочных тегов
  Особенность: Можно давать отрицательные значения */
/* margin: 10px -20px -30px 5px; */

/* Устанавливает жёсткую ширину (по горизонтали) блочных тегов
  Блок не будет менять свою ширину,даже когда окно браузера будет изменено по размеру */
/* width: 500px; */
/* max-width: 500px; */
/* Устанавливает максимальную ширину блочных тегов, а так же */
/* display: inline; */
/* не отображает элемент и не резервирует место */
/* display: none; */
.exaple-block {
  border: 1px solid #000;
  margin: 0 0 30px 0;
  /* padding: 20px; */
}
/* Не действует на строные теги */
/* height: 120px; */
/* Гибрид строки и блока, по ширине работает как строка-занимает ширину контента,
  но имеет высоту, ширину и отступы как блок */
/* display: inline-block; */
.example-stringh {
}

.example_image {
  /* Картинка приняла размер 100 пикселей */
  /* width: 100px; */
  margin: 20px;
  height: 100%;
  min-height: 400px;
  max-height: 900px;
}
