/* Сейчас мы приведём страницу браузера в "чистый вид".
Это необходим, чтобы настройки различных браузеров не
подстраивали каждый по своему "умолчанию",
а везде было одинаково - кросс-платформа */

/* Тэг "*" означает, что мы обращаемся ко всем тэгам страницы */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Кратко: Меняет ширину блока так,чтобы нам было удобнее верстать */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем линии обводки */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/* Перечисляем HTML5 тэги. Добавляем значение "Блок", что делает их блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* Обратимся к тегам HTML и Body. Выставим в них значения
которые уравняют их в различных браузерах. И запрещают увеличение шрифта */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Обращаемся к следующим тэгам, чтобы они унаследовали семейство шрифта.
Так как по умолчанию они его не наследуют */
input,
button,
textarea {
  font-family: inherit;
}

/* Следующие настройки убирают, некоторые особенности, браузеров 
(типа крестик, отступы, стили */
input ::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/* Обнуляем все заголовки Н */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Все стили обнулились. У нас "чистый лист", теперь мы сами творцы своего стиля */
/* _____________________________________________________________________________ */

body {
  padding: 30px;
}

.block {
  margin: 0px 0px 30px 0px;
}
.block p:nth-child(1){
background-color: grey;
}
.block p:nth-child(2){
  background-color: green;
}
.block p:nth-child(3){
  background-color: red;
}
.block p:nth-child(3):hover{
  background-color: pink;
}

.block p {
  font-size: 18px;
  line-height: 24px;
  margin: 0px 0px 20px 0px;
}
.link {
  color: red;
}
.link:visited {
  color: green;
}
.link:hover {
  text-decoration: underline;
  color: blue;
}
.link:active {
  color: yellow;
}

.textinput {
  border: 1px solid #666;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  width: 300px;
  margin: 0px 0px 10px 0px;
}
.textinput:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 8);
}
.textbutton {
  display: block;
  width: 300px;
  height: 50px;
  background-color: #666;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}
.textbutton:hover {
  background-color: grey;
  color: yellow;
}
.textbutton:active {
  background-color: pink;
}
.list {
}
.list li {
  font-size: 18px;
  margin: 0px 0px 15px 0px;
}
/* .list li:first-child{
  color: green;
}
.list li:last-child{
  color: blue;
  font-weight: 700; */
/* } */
.list li:nth-child(even) {
  text-decoration: underline;
}
